In [148]:
import pandas as pd

In [179]:
hops = []
malts = []
yeasts = []
adjuncts = []

labels = ['Item', "Category", 'Amount', 'Store Type']

def new_hop(name, amount, storage):
    name = str(name)
    amount = amount
    storage = str(storage)
    hop = [name, 'Hop', amount, storage ]  #[Name, Category, Amount (oz), pellet or....]
    hops.append(hop)

def new_malt(name, amount, storage):
    name = str(name)
    amount = amount
    malt = [name, 'Malt', amount, storage] #[Name, Category, Amount (oz), pellet or....]
    malts.append(malt)

def new_yeast(name, amount, storage):
    name = str(name)
    amount = amount
    yeast = [name, 'Yeast', amount, storage] #[Name, Category, Amount (oz), dry or wet]
    yeasts.append(yeast)

In [180]:
new_hop('New Zealand Pacific Jade', 0.5, 'Pellet')
new_hop('Motueka', 0.5, 'Pellet')
new_malt('Briess Pilsen M', 1.5, 'Grain')
new_malt('Goldpils Vienna Malt', 2, 'Grain')
new_malt('Light Roasted Barley', 0.75, 'Grain')
new_malt('Belgian Special', 0.75, 'Grain')
new_malt('Briess Carapils', 0.5, 'Grain')
print(hops)
#print(malts)
#print(inventory)

[['New Zealand Pacific Jade', 'Hop', 0.5, 'Pellet'], ['Motueka', 'Hop', 0.5, 'Pellet']]

In [181]:
hops_inventory = pd.DataFrame(data = hops, columns = labels)
malts_inventory = pd.DataFrame(data = malts, columns = labels)
yeasts_inventory = pd.DataFrame(data = yeasts, columns = labels)
adjuncts_inventory = pd.DataFrame(data = adjuncts, columns = labels)
inventory = pd.DataFrame(columns = labels)
inventory = inventory.append(hops_inventory)
inventory = inventory.append(malts_inventory)
inventory = inventory.append(yeasts_inventory)
inventory = inventory.append(adjuncts_inventory)
#inventory = inventory.iloc[2:]

#hops_inventory.head()
inventory.head(len(inventory))

                       Item Category  Amount Store Type
0  New Zealand Pacific Jade      Hop    0.50     Pellet
1                   Motueka      Hop    0.50     Pellet
0           Briess Pilsen M     Malt    1.50      Grain
1      Goldpils Vienna Malt     Malt    2.00      Grain
2      Light Roasted Barley     Malt    0.75      Grain
3           Belgian Special     Malt    0.75      Grain
4           Briess Carapils     Malt    0.50      Grain

In [182]:
inventory = inventory.set_index('Item')
inventory.head(len(inventory))

                         Category  Amount Store Type
Item
New Zealand Pacific Jade      Hop    0.50     Pellet
Motueka                       Hop    0.50     Pellet
Briess Pilsen M              Malt    1.50      Grain
Goldpils Vienna Malt         Malt    2.00      Grain
Light Roasted Barley         Malt    0.75      Grain
Belgian Special              Malt    0.75      Grain
Briess Carapils              Malt    0.50      Grain

In [162]:
def adjust_inventory(item, amount):
    item = str(item)
    amount = amount
    inventory.at[item, 'Amount'] += amount


inventory.head()

                            Item Category Amount Store Type
Willamette                   NaN      Hop      3     Pellet
Cluster                      NaN      Hop      1        Wet
0                Briess Pilsen M     Malt    1.5      Grain
1           Goldpils Vienna Malt     Malt      2      Grain
2           Light Roasted Barley     Malt   0.75      Grain